@model WEB_353502_Liubashenka2.ViewComponents.CartSummaryViewModel

<a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto text-decoration-none">
    @Model.TotalAmount.ToString("N1") руб <i class="bi bi-cart"></i> (@Model.ItemsCount)
</a>